html{
    scroll-behavior:smooth;
}

body > a:first-child {
    position: absolute;
    top: -50px;
}

body > a:first-child:focus {
    top: 0px;
}

.current-page {
    font-weight: bold;
    color: darkgreen;
}


nav ul li a {
    font-size: 20px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    width:100%
}

body {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
  }

  button {
    font-size: 16px;
  }

  nav ul li a {
    font-size: 18px;
  }

  label, input, textarea {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    body {
      font-size: 14px;
    }
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 18px;
    }
}

/* -------------------------------------------------------------- */

/*grid layout */
.grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    margin-bottom: 20px;
    max-width: 100%;
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

/* Target the images for Yellowstone, Maui, and Napa */
#yellowstone img, #maui img, #napa img {
    grid-column: 1 / 3;
    max-width: 100%;
}

#yellowstone img{
    grid-row: 2;
    max-width: 800px;
    max-height: 600px;
    overflow:auto;
}

#maui img {
    grid-row: 6;
    max-width: 800px;
    max-height: 600px;
    overflow:auto;
}

#napa img {
    grid-row: 10;
    max-width: 800px;
    max-height: 600px;
    overflow:auto;
}


/* Target the images for Honolulu, Pittsburgh, and Las Vegas */
#honolulu img, #pittsburgh img, #lasvegas img {
    grid-column: 3 / 5;
    max-width: 100%;
}

#honolulu img{
    grid-row: 2;
    max-width: 800px;
    max-height: 600px;
    overflow:auto;
}


#pittsburgh img{
    grid-row: 6;
    max-width: 800px;
    max-height: 600px;
    overflow:auto;
}

#lasvegas img {
    grid-row: 10;
    max-width: 800px;
    max-height: 600px;
    overflow:auto;
}


/* Target the headings and text for Yellowstone, Maui, and Napa */
#yellowstone h3, #yellowstone h4, #yellowstone p,
#maui h3, #maui h4, #maui p,
#napa h3, #napa h4, #napa p {
    grid-column: 1 / 3;
}

/* Yellowstone text */
#yellowstone h3{
    grid-row: 1 / 2;
}

#yellowstone h4{
    grid-row: 3 / 4;
}

#yellowstone p{
    grid-row: 4 / 5;
}

/* Maui text */
#maui h3{
    grid-row: 5/ 6;
}

#maui h4{
    grid-row: 7 / 8;
}

#maui p{
    grid-row: 8 / 9;
}

/* napa text*/
#napa h3{
    grid-row: 9/ 10;
}

#napa h4{
    grid-row: 11 / 12;
}

#napa p{
    grid-row: 12 / 13;
}

/* Target the headings and text for Honolulu, Pittsburgh, and Las Vegas */
#honolulu h3, #honolulu h4, #honolulu p,
#pittsburgh h3, #pittsburgh h4, #pittsburgh p,
#lasvegas h3, #lasvegas h4, #lasvegas p {
    grid-column: 3 / 5;
}

/* honolulu */
#honolulu h3{
    grid-row: 1 / 2;
}

#honolulu h4{
    grid-row: 3 / 4;
}

#honolulu p{
    grid-row: 4 / 5;
}


/* pittsburgh */
#pittsburgh h3{
    grid-row: 5/ 6;
}

#pittsburgh h4{
    grid-row: 7 / 8;
}

#pittsburgh p{
    grid-row: 8 / 9;
}

/* lasvegas */
#lasvegas h3{
    grid-row: 9/ 10;
}

#lasvegas h4{
    grid-row: 11 / 12;
}

#lasvegas p{
    grid-row: 12 / 13;
}
